---
import MainProject from "@components/landing/Main-Project.astro";
import Modal from "@components/Modal.astro";

import { GetMainProjects } from "@types/ManfredType";

import manfred from "@data/manfred/CV/MAC.json";
const mainProjects = GetMainProjects(manfred.experience.projects);
---

<section class="my-8">
  <div class="h-0.5 bg-secondary"></div>
  <h2 class="text-secondary text-lg font-medium">
    Some <i>amazing</i>
    <strong> projects</strong>
  </h2>

  <ul
    class="main-projects mx-auto text-secondary grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 items-start gap-6 mt-3 lg:mt-20"
    role="list"
  >
    {
      mainProjects.map((template, index) => (
        <>
          <MainProject
            index={index}
            title={template.title}
            description={template.description}
            technologies={template.technologies}
            urls={template.urls}
          />
        </>
      ))
    }
  </ul>
</section>
