---
import NewTabLink from "@components/NewTabLink.astro";
import Modal from "@components/Modal.astro";
import { SlugName } from '@lib/Utils';
import type { ProjectUrl } from '@lib/ProjectTemplate';

export interface Props {
  index: number;
  title: string;
  description: string;
  technologies?: string;
  urls: ProjectUrl[];
}

const { index, title, description, technologies, urls } = Astro.props;

const numberDisplay = index < 10 ? `0${index}.` : `${index}.`;
const triggerId = `modal-${SlugName(title)}`;
---

<li class="flow-root cursor-pointer select-none">
  <div id={triggerId} class="group">
    <div class="h-full flex flex-col justify-between">
      <div
        class="group-hover:text-secondary/90 text-9xl font-bold lg:rotate-90 lg:-translate-x-16 lg:mb-4 transition-color duration-200 ease-in number"
      >
        {numberDisplay}
      </div>
      <h3
        class="group-hover:text-secondary/90 font-semibold group-hover:underline shrink-0"
      >
        {title}
      </h3>
      <p
        class="group-hover:text-secondary/90 group-hover:underline text-xs mt-3 leading-relaxed"
      >
        {description}
      </p>
      <p
        class="group-hover:text-secondary/90 group-hover:underline text-xs italic leading-relaxed"
      >
        {technologies}
      </p>
    </div>
  </div>
</li>

<Modal triggerId={triggerId}>
  {
    urls.map((url) => (
      <NewTabLink href={url.url} className="focus:outline-none">
        <p class="p-2 focus:outline-none">{url.name}</p>
      </NewTabLink>
    ))
  }
</Modal>

<style is:global>
  .group:hover .number {
    text-shadow:
      theme(colors.primary) 2px 2px,
      #e5fffd 6px 4px;
  }

  @media (min-width: 1024px) {
    .group:hover .number {
      text-shadow:
        theme(colors.primary) 2px -2px,
        #e5fffd 6px -4px;
    }
  }
</style>