---
import NewTabLink from "@components/NewTabLink.astro";
import Modal from "@components/Modal.astro";
import { SlugName } from "@lib/Utils";
import type { ProjectUrl } from '@lib/ProjectTemplate';

type Props = {
  template: {
    title: string;
    description: string;
    urls: ProjectUrl[];
  };
};

const { template } = Astro.props;
const triggerId = `modal-${SlugName(template.title)}`;
---

<li
  class="flow-root col-span-full h-full hover:bg-secondary/90 hover:text-gray bg-secondary transition-colors duration-200 select-none cursor-pointer"
>
  <div
    id={triggerId}
    class="flex flex-col sm:flex-row justify-between gap-6 max-sm:gap-2 h-full align-middle sm:items-center"
  >
    <div class="p-3">
      <h3 class="italic shrink-0">{template.title}</h3>
    </div>
    <div class="p-3 sm:max-w-[65%]">
      <p class="text-xs leading-relaxed sm:text-right">
        {template.description}
      </p>
    </div>
  </div>
</li>

<Modal triggerId={triggerId}>
  {
    template.urls.map((projectUrl) => (
      <NewTabLink href={projectUrl.url} className="focus:outline-none">
        <p class="p-2 focus:outline-none">{projectUrl.name}</p>
      </NewTabLink>
    ))
  }
</Modal>

<style>
  p (min-width: 640px) {
    text-wrap: balance;
  }
</style>