---
import { ViewTransitions, fade } from "astro:transitions";

export interface Props {
  title: string;
  description: string;
  articleOgImage?: string;
}
const { title, description, articleOgImage } = Astro.props;

import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";

const url = "https://lalogo.dev";
const ogImage = articleOgImage ? `${url}/opengraph/{articleOgImage}` : `${url}/opengraph/openGraphMiniature.png`;
---

<html lang="en">
  <head>
    <title>{title}</title>
    <meta name="description" content={description} />

    <meta name="viewport" content="width=device-width" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Lalogo" />
    <meta
      name="keywords"
      content="Lalogo la-lo-go full-stack developer software"
    />

    <!-- Favicon -->
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="favicons/apple-icon-120x120.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="favicons/apple-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="favicons/apple-icon-152x152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="favicons/apple-icon-180x180.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="favicons/android-icon-192x192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="favicons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="favicons/favicon-96x96.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="favicons/favicon-16x16.png"
    />

    <!-- Theme color -->
    <meta name="theme-color" content="#ccece9" />

    <!-- Open Graph / Facebook -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={url} />
    <meta property="og:image" content={ogImage} />
    <meta property="og:site_name" content={title} />
    <meta property="og:type" content="website" />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={ogImage} />
    <meta name="twitter:url" content={url} />
    <meta name="twitter:site" content="@la_lo_go" />

    <ViewTransitions />
  </head>

  <body class="bg-primary p-8 mx-auto max-w-6xl">
    <Header transition:animate="none" />

    <main transition:animate={fade({ duration: "0.15s" })}>
      <slot />
    </main>

    <Footer transition:animate="none" />

    <!-- External scripts -->
    <script src="https://unpkg.com/mailgo@0.12.2/dist/mailgo.min.js"></script>
    <style is:global>
      @font-face {
        font-family: "IBM Plex Sans";
        src: url("../fonts/IBM_Plex_Sans/IBMPlexSans-Regular.ttf")
          format("truetype");
        font-weight: 400; /* Regular */
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: "IBM Plex Sans";
        src: url("../fonts/IBM_Plex_Sans/IBMPlexSans-Bold.ttf")
          format("truetype");
        font-weight: 700; /* Bold */
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: "IBM Plex Sans";
        src: url("../fonts/IBM_Plex_Sans/IBMPlexSans-Italic.ttf")
          format("truetype");
        font-weight: 400; /* Regular */
        font-style: italic;
        font-display: swap;
      }

      @font-face {
        font-family: "IBM Plex Sans";
        src: url("../fonts/IBM_Plex_Sans/IBMPlexSans-BoldItalic.ttf")
          format("truetype");
        font-weight: 700; /* Bold */
        font-style: italic;
        font-display: swap;
      }

      :root {
        font-family: "IBM Plex Sans", sans-serif;
      }

      ::selection {
        background-color: #232727;
        color: #e5fffd;
      }

      @supports (font-variation-settings: normal) {
        :root {
          font-family:
            "IBM Plex Sans",
            -apple-system,
            "Segoe UI",
            sans-serif;
        }
      }

      h2 {
        font-size: 1.5rem;
        line-height: 2rem;
      }

      p {
        line-height: 1.75rem;
      }

      /* Thanks to https://blog.stephaniestimac.com for the idea */
      a.cool-link,
      a.cool-link-animated,
      :is(p) > a {
        font-weight: bold;
        background: linear-gradient(#e5fffd, #e5fffd);
        background-size: 100% 0.5rem;
        background-repeat: no-repeat;
        background-position: left bottom;
        transition: all 0.1s linear 0s;
        text-decoration: none;
      }

      a.cool-link-animated:hover,
      .group:hover a.cool-link-animated,
      :is(p) a:hover {
        background-size: 100% 100%;
      }
    </style>
  </body>
</html>
